/*! custom Font*/
@font-face {
  font-family: 'Telex';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Telex-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Fontin Sans';
    src: url('fonts/Fontin_Sans_R_45b.otf') format('opentype');
    font-weight: regular;
    font-style: regular;
}
@font-face {
    font-family: "Fontin";
    src: url("fonts/Fontin-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aldo SemiBold";
    src: url("fonts/Aldo_PC.eot?") format("eot"),
        url("fonts/Aldo_PC.woff") format("woff"),
        url("fonts/Aldo_PC.ttf") format("truetype"),
        url("fonts/Aldo_PC.svg#Aldo-SemiBold") format("svg");
    font-weight: normal;
    font-style: normal;
}


font-url(filename)
  return 'fonts/' + filename

customfont(family, filename)
  @font-face
    font-family family
    font-weight normal
    font-style normal
    src url(font-url(filename + '.eot'))
    src url(font-url(filename + '.eot?#iefix')) format('embedded-opentype'),
    url(font-url(filename + '.svg#'+ family)) format('svg'),
    url(font-url(filename + '.woff')) format('woff'),
    url(font-url(filename + '.ttf')) format('truetype')

customfont(font-custom-family,font-custom-filename)

/*! icon Font */
iconfont(family, filename,font-icon-version)
  @font-face
    font-family family
    font-style normal
    font-weight normal
    src url(font-url(filename + ".eot?v=#" + font-icon-version))
    src url(font-url(filename + ".eot?#iefix&v=#" + font-icon-version)) format("embedded-opentype"),
         url(font-url(filename + ".woff?v=#" + font-icon-version)) format("woff"),
         url(font-url(filename + ".ttf?v=#" + font-icon-version)) format("truetype"),
         url(font-url(filename + ".svg#fontawesomeregular?v=#" + font-icon-version)) format("svg")

iconfont(font-icon-family,font-icon-filename,font-icon-version)

customfont(font-icon-diao,font-icon-diao-filename)